:root {
    --main-color: #000;
    --secondray-color: #fff;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.app {
    background-color: #fafafa;
    height: 100vh;
}

.spineer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}